@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Cormorant SC', serif;
    font-size: 16px;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

// HEADER----------------------------------------------------------

header{
    width: 100%;
    background-color: #281a0c;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
    .contenedor{
        position: relative;
        height: 100vh;
    }
    .nav-menu{
        width: 100%;
        text-align: right;
        a{
            color: #fff;
            font-size: 20px;
            font-weight: 300;
            display: inline-block;
            margin: 40px 20px;
            text-decoration: none;
            position: relative;
            &:hover{
                text-decoration: underline;
                
            }
        }
    }
    .titulo{
        width: 100%;
        color: #fff;
        position: absolute;
        top: 45vh;
        margin-top: -52px;
        padding: 30px;
        .titulo-nombre{
            font-size: 50px;
            font-weight: 600;
        }
        h3{
            font-size: 25px;
            font-weight: 300;
            font-style: italic;
        }
    }
}

// MAIN -----------------------------------------------
.main{
    background-image: url(../img/bg-textura1.jpg);
    background-repeat: repeat;
    .acerca-de{
        .contenedor{
            overflow: visible;
            position: relative;
            .foto{
                width: 80%;
                position: absolute;
                left: 0;
                top: -50px;
                z-index: 0; //Foto detras del texto
                box-shadow: 0px 0px 15px #000;
                img{
                    vertical-align: top;
                    width: 100%;
                }
            }
        }
        article{
            background-color: #fff;
            padding: 30px;
            position: relative;
            width: 50%;
            top: 200px; 
            float: right;
            z-index: 1; //Texto delante de la foto
            box-shadow: 0px 0px 15px #000;
            h3{
                font-size: 50px;
                font-weight: 300;
                margin-bottom: 40px;
            }
            p{
                line-height: 20px;
                margin-bottom: 20px;
            }
        }

    }
    .menu{
        padding-top: 570px;
        margin-bottom: 50px;
        .titulo{
            text-align: center;
            font-weight: 400;
            font-size: 40px;
            margin-bottom: 40px;
        }
        .contenedor-menu,
        .contenedor-menu2{
            border: 1px solid #000;
            background: transparent;
            padding: 10px;
            overflow: hidden;

        }
        article{
            width: 40%;
            float: left;
            margin-left: 25px;
            padding: 20px;
            .categoria{
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 40px;
                text-align: center;
            }
            .platillo{
                border-bottom: 2px dotted #000;
                padding-bottom: 20px;
                margin-bottom: 30px;
                overflow: hidden;
                .nombre{
                    font-size: 20px;
                    margin-bottom: 15px;
                    float: left;
                }
                .precio{
                    font-size: 20px;
                    float: right;
                    margin-bottom: 15px;
                    font-weight: 700;
                }
                .descripcion{
                    font-size: 16px;
                    color: #676767;
                    clear: both;
                }
            }
        }
    }
    .galeria{
        overflow: hidden; //Al trabajar en floats se usa overflow hidden
        .foto{
            float: left;
            width: 25%;
            img{
                vertical-align: top;
                width: 100%;
                opacity: 0.7;
                &:hover{
                    opacity: 1;
                    transition: all 700ms ease;
                }
            }
        }
    }
    .ubicacion{
        background-color: #fff;
        padding: 60px 0;
        overflow: hidden;
        background-image: url(../img/bg-textura1.jpg);
        .titulo{
            text-align: center;
            font-size: 40px;
            margin-bottom: 40px;
            font-weight: 300;
            line-height: 40px;
            text-decoration: underline;
        }
        .direccion-texto{
            float: left;
            width: 50%;
            text-align: left;
        }
        .horarios{
            float: right;
            width: 50%;
            text-align: right;
            overflow: hidden;
            h4{
                font-weight: 700;
                text-align: center;
                margin-bottom: 20px;
            }
            .entre-semana,
            .findes{
                width: 50%;
                float: left;
                text-align: center;
            }
        } 
    }
    .map{
        width: 100%;
        
        overflow: hidden;
        iframe{
            width: 100%;
            height: 600px;
            max-height: 600px;
        }
    }
}
// FOOTER ------------------------------------------------
footer{
    background-color: #000;
    color: #fff;
    .copyright{
        text-align: center;
    }
}

// MEDIA QUERIES ------------------------------------------------
@media screen and (max-width: 800px) {
    header{
        .contenedor{
            position: static;
            height: auto;
        }
        .nav-menu{
            text-align: center;
            
            a{
                margin: 10px 20px;
            }
        }
        .titulo{
            position: static;
            padding: 30px;
            margin: 100px 0;
            .titulo-nombre{
                font-size: 30px;
            }
            h3{
                font-size: 18px;
            }
        }
    }
    .main{
        .acerca-de{
            .foto{
                width: 100%;
                position: relative;
            }
            article{
                h3{
                    margin: 0;
                }
            }
        }
        .article{
            position: relative;
            width: 100%;
            top: -50px;
            transform: translate(0px, 0);    
        }
        .menu{
            padding-top: 510px;
            article{
                width: 100%;
                padding: 0;
                margin: 0;
            }
        }
        .galeria{
            .foto{
                width: 50%;
            }
        }
        .map{
            width: 80%;
            margin: auto;
        }
    }
}